---
import "../styles/footer.css";
---

<footer>
  <div class="container">
    <div class="footer-grid">
      <div class="footer-logo">
        <img src="/whiteSNUlogo.svg" alt="SNU Logo" width="100" height="40" />
        <p>SNU JPL Research</p>
      </div>
      <div class="footer-partners">
        <h3>Partners</h3>
        <ul>
          <li><a href="https://www.snu.edu/">SNU</a></li>
          <li><a href="https://www.jpl.nasa.gov/">JPL</a></li>
        </ul>
      </div>
      <div>
        <h3>Admin</h3>
        <a href="/admin">Admin Login</a>
      </div>
    </div>
    <p class="footer-copy">© 2025 Southern Nazarene University</p>
  </div>
</footer>
